/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f3f4f6; /* Tailwind'in default gri arka plan rengi */
}

/* Gerekli olabilecek özel stiller buraya eklenebilir. */
